/* container */

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* common */

.common {
  font-size: 28px;
  font-family: Helvetica, 'Times New Roman', sans-serif;
}