/* container */

.container {
  display: flex;
  gap: 5px;
  
}

/* common */

.common {
  font-size: 28px;
  font-family: Helvetica, 'Times New Roman', sans-serif;
}

.First {
  background-color: black;
  color: white;
  width: 140px;
  height: 50px;
}

.Second{
  background-color: yellow;
  width: 190px;
  height: 50px;
}